ul.sdt_menu{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:100%;
  color:#CCCCCC; 
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:120px;
	height:85px;
	position:relative;
	cursor:pointer;
  background-color:#000000;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:85px;
	z-index:12;
	//background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:65px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:100%;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#000000;
	top:65px;
	width:100%;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:10px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:20px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:95px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:100%;
	overflow:hidden;
	height:120px;
	top:65px;
	left:0px;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:20px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}
/*Fly out*/
.flyout-wrap { 
  position:relative;
  margin-left:25px;
}
.flyout-wrap p {
  margin:0; 
  padding:5px 0; 
  font-size:11px; 
  line-height:16px;
}

.flyout {
  font-size:11px; 
  padding:0; 
  margin:0; 
  list-style:none; 
  width:24px; 
  height:360px; 
  position:absolute; 
  left:-25px;
}
.flyout ul {
  padding:0; 
  margin:0; 
  list-style:none;
}
.flyout li {
  display:block; 
  width:24px; 
  height:120px; 
  background:#1c1c1c;
}
.flyout li a {
  display:block; 
  width:120px; 
  height:120px;
  transform: rotate(-90deg); 
  text-decoration:none; 
  text-align:center;
  color:white;
}

.flyout table {
  position:absolute; 
  border-collapse:collapse; 
  top:0; 
  left:0; 
  z-index:100; 
  font-size:1em;
}
.flyout li {
  float:left; 
  margin-bottom:1px;
}
.flyout li ul {
  visibility:hidden; 
  position:absolute; 
  top:0; 
  left:24px; 
  width:600px; 
  height:117px; 
  border-left:1px solid #fff; 
  padding-top:4px;
}
.flyout li ul li {
  display:block; 
  display:inline; 
  width:100px; 
  height:22px; 
  border:0; 
  margin:0 10px; 
  background:transparent; 
}
.flyout li ul li a {
  text-indent:0; 
  background:transparent; 
  display:block; 
  width:100px; 
  height:22px; 
  line-height:21px; 
  color:#bbb; 
  border-bottom:1px solid #555; 
  text-decoration:none; 
  transform: rotate(0);
}
.flyout li b {
  visibility:hidden; 
  display:block; 
  width:360px; 
  height:120px; 
  position:absolute; 
  top:0; 
  left:24px; 
  background:#234; 
  opacity:0.8; 
  filter:alpha(opacity=80);
}
* html .flyout li a:hover {
  position:relative; 
  white-space:normal;
}
* html .flyout li a:hover ul li a:hover {
  color:#000; 
  background:#bcd;
}
.flyout li:hover {
  position:relative;
}
.flyout li:hover ul li a:hover {
  background:#bcd; 
  color:#000;
}
.flyout li:hover b,
.flyout li a:hover b {
  visibility:visible;
}
.flyout li:hover ul,
.flyout li a:hover ul {
  visibility:visible;
}