/*jQuery UI template*/

/*Helpers*/
.border-default{
border-width: 1px;
border-style: solid;
}
.border-active{
border-width: 1px;
border-style: solid;
}
.border-none{
border: none;
}

.cell-padding{
padding-bottom:2px;
padding-top:2px;
padding-right:8px;
padding-left:8px;
}
.icon-height{
height:16px;
}

.number_field{
  text-align:right;
}

.no-border-r,
.no-border-rl{
  border-right:none;
 }

.no-border-l,
.no-border-rl {
  border-left:none;
}

/*Labels*/
.label, .label a{	
font-weight:bold;
text-decoration:none;
}
.required-label{
}
.icon-required {
background-position: -192px -116px;
  display: inline-block;
  height:12px;
}
.validatie{
padding:5px;
}
.help{
cursor:help;
}

/*Region standard*/
.title-container{
float:left;
font-size: 1.5em;
padding-right:3px;
}
.button-container{
float:right;
}
.header-container{
padding-bottom:3px;
padding-top:5px;
padding-right:10px;
padding-left:10px;
margin-bottom:2px;
}
.region-container{
margin:2px;
}

/*Form region*/
input, select, textarea, fieldset{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  //width:100%;
}
.longitem{
  width:100%;
}
 .selectlist{
  padding:3px;
}
 
table.formlayout td{
padding-top:2px;
padding-bottom:2px;
}
.hasDatepicker{
  width:90%;
  margin-right:0px;
  margin-top:4px;
  margin-left:4px;
  margin-bottom:4px;
}
.ui-datepicker-trigger{
  margin-top:4px;
  margin-right:4px;
  margin-left:0px;
  margin-bottom:0px;
}

/*Form div region*/
.formdiv-region {
  width:400px;
}

.formdiv-region label{
  display:inline-block;
  width:140px;
  text-align:right;
  margin:5px;
  padding:2px;
}
.formdiv-region .text_field,
.formdiv-region .number_field,
.formdiv-region .selectlist,
.formdiv-region .text,
.formdiv-region .datepicker
{
  width:230px;
  margin:4px; /*one for the border*/
  padding:2px;
}
.formdiv-region .selectlist
{
  width:230px;
  margin:5px;
  padding:2px;
}
.formdiv-region fieldset .textarea,
.formdiv-region fieldset .apex_size_bar
{ margin-left:4px;
}
.formdiv-region .hasDatepicker{
  width:210px;
  margin-right:0px;
  margin-top:4px;
  margin-left:4px;
  margin-bottom:4px;
}
.formdiv-region .ui-datepicker-trigger{
  margin-top:4px;
  margin-right:4px;
  margin-left:0px;
  margin-bottom:0px;
}
/*2 Column div form*/
.form2div-region {
  width:800px;
}
.form2div-region label{
  display:inline-block;
  width:140px;
  text-align:right;
  margin:5px;
  padding:2px;
}
.form2div-region .text_field,
.form2div-region .number_field,
.form2div-region .selectlist,
.form2div-region .text,
.form2div-region .datepicker{
  width:230px;
  margin:4px; /*one for the border*/
  padding:2px;
}

.form2div-region .textarea
{
  width:622px;
}
.form2div-region fieldset
{
  margin-right:4px;
  margin-left:4px;
}
.form2div-region .hasDatepicker{
  width:210px;
  margin-right:0px;
  margin-top:4px;
  margin-bottom:4px;
  margin-left:4px;
}
.form2div-region .ui-datepicker-trigger{
  margin-top:4px;
  margin-right:4px;
  margin-bottom:0px;
  margin-left:0px;
}

/*Search region*/
.search-region .region-container{
  float:left;
}
.search-region .button-container{
  margin:2px;
}
.search-region .label,
.search-region .text_field,
.search-region .selectlist{
  margin-right:5px;
}

/*Sub region helpers*/
.half_right{width:50%;
            float:right;
           }
.half_left{width:50%;
           float:left;
          }
/*Report standard*/

/*Value pair reports*/
.value-pairs{width:100%}
.left-column{
float:left;
padding:3px;
}
.right-column{
float:right;
padding:3px;
}
.border-not-right{
border-right:0px none;
}
.border-not-left{
border-left:0px none;
}

/*List*/
/*Pull down menu*/
.dhtmlMenuLG2 {
list-style-type: none;
padding: 0;
margin: 0;
vertical-align: middle;
white-space: nowrap;
font-size:1.5em;
}
.dhtmlMenuLG2 * {
float: left;
text-decoration: none;
display: block;
line-height: 25px;
height: 25px;
vertical-align: middle;
white-space: nowrap;
}
.dhtmlMenuLG2 span{height:16px;}
.dhtmlMenuLG2 li.dhtmlMenuItem {
margin: 0 4px 0 0;
}
.dhtmlMenuLG2 li.dhtmlMenuItem a {
padding: 0 4px;
}
.dhtmlMenuLG2 li.dhtmlMenuItem1 {
margin: 0 4px 0 0;
}
.dhtmlMenuLG2 li.dhtmlMenuItem1 a {
padding: 0 0 0 10px;
margin: 0 4px 0 0;
}
.dhtmlSubMenu2 {
width: 200px;
list-style-type: none;
margin: 0;
}
.dhtmlSubMenu2 li {
margin: 0em;
padding: 8px 0px;
}

.dhtmlMenuSep2 {
text-align: center;
}

img.dhtmlMenuSep2 {
display: block;
margin: auto;
width: 80%;
height: 1px;
}

.dhtmlSubMenu2 img.dhtmlSep {
width: 180px;
height: 1px;
}

.dhtmlSubMenu2 .t13MIMG {
float: right;
}

.dhtmlSubMenu2 .dhtmlSubMenuP {
text-align: center;
padding: 3px 8px;
text-decoration: none;
white-space: nowrap;
font-weight: bold;
font-size:1.3em;
}
.dhtmlSubMenu2 a.dhtmlSubMenuN:link,.dhtmlSubMenu2 a.dhtmlSubMenuN:visited{
white-space: nowrap;
overflow: hidden;
display: block;
overflow: hidden;
padding: 0px 10px !important;
text-decoration: none;
font-size:1.3em;
}
.dhtmlSubMenu2 a.dhtmlSubMenuN:hover {
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:link,.dhtmlSubMenu2 a.dhtmlSubMenuS:visited {
display: block;
font-weight: normal;
padding: 0px 10px !important;
text-decoration: none;
white-space: nowrap;
height: 1%;
overflow: hidden;
font-size:1.3em;
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:hover {
}

.dhtmlSubMenuN {
border: none !important;
font-size: 1.3em;
  padding-left: 10px;
}

img.dhtmlMenuSep {
height: 1px !important;
border: none !important;
}
.dhtmlSubMenuNa{
padding: 8px 10px !important;
}
/*Horizontal menu*/
.horizontal-menu li {
  display:block;
  float:left;
  position:relative;
  list-style:none;
  padding:0px 5px;
  line-height:25px;
}
.horizontal-menu li .submenu {
  display:none;
  left:-1px;
  position:absolute;
  top:25px;
  z-index:999;
  margin:0px;
  padding:0px;
}
.horizontal-menu .submenu li{
  width:100%;
  white-space:nowrap;
}
.horizontal-menu li:hover .submenu {
  display:block;
}

.horizontal-menu .submenu li {
  float: left;
  position: relative;
}
.horizontal-menu .submenu li .submenu {
  display: none;
  left: 100%;
  position: absolute;
  top: 0px;
}
.horizontal-menu .submenu li:hover .submenu {
  display: block;
}
  
/*breadcrumb menu*/
.breadcrumb-menu {
  height:25px;
}

.breadcrumb-menu li {
  display:block;
  float:left;
  list-style:none;
  line-height:25px;
  padding:0px 5px;	
}
  
.breadcrumb-menu li .submenu {
  display:none;
  margin:0px;
  padding:0px;
  left:27px;
  position:absolute;
  z-index:999;
  width: 100%;
}
.breadcrumb-menu li:hover .submenu {
  display:block;
  
}
.breadcrumb-menu .submenu li{
  white-space:nowrap;
}
.breadcrumb-menu li:hover .submenu *:hover .submenu {
  left: 0;
}
.breadcrumb-menu li:hover .submenu .submenu {
  left: -9999px;
  top: 25px;
}
.breadcrumb-separator {
    display: block;
    float: left;
    height: 100%;
    width: 14px;
}
.breadcrumb-separator img{
  height:100%
}
.breadcrumb-sub-parent span {
    float: left;
}
.breadcrumb-sub-icon {
    margin-left: 5px;
    margin-top: 5px;
}

/*Vertical menu*/
.vertical-menu {
margin:0px;
padding:0px;
  width:150px;
}
.vertical-menu li {
height:25px;
line-height:25px;
list-style:none;
padding-left:3px;
padding-right:3px;
position:relative;
white-space: nowrap;
}

.vertical-menu .submenu {
display:block;
position:absolute;
left:100%;
top:0px;
visibility:hidden;
z-index: 2;
  margin:0px;
}
.vertical-menu li:hover .submenu {
visibility:visible;
}
.vertical-menu .submenu li {
border:none;
width:100%;
float:left;
display:inline;
padding-left:3px;
padding-right:10px;
}
.vertical-menu .submenu li a{
white-space:nowrap;
  float:left;
}
.vertical-menu .submenu li:hover {
text-decoration:underline;
border:none;
}
.vertical-menu li:hover .submenu li:hover .submenu{
visibility:visible;
}
.vertical-menu li:hover .submenu li .submenu {
visibility:hidden;
}
.vertical-sub-icon{
  position:absolute;
  right:5px;
  top:5px;
}

/* -------------------- Page Structure -------------------- */
body {
background: #FFF;
margin: 0 auto;
padding: 0 10px;
font-size:10px;
}

#header {
padding: 10px 5px;
}
/*Logo*/
#logo {

}
#logo a, #logo a span {
text-decoration: none;
overflow: visible;
}
#logo img {
}
/*Nav bar*/
#navbar {

}

.navbar-entry {

}

.navbar-entry a {
text-decoration: none;
}

.navbar-entry a:hover {
text-decoration: underline;
}
.tbl-header{
  width:100%;
}
.tbl-header-cell{
  width:33.33%;
}
.tbl-header-cell.logo img{
    border:1px solid transparent;
	border-radius:5px;
}

.tbl-header-cell.plugin_name {
    font-size: 2.5em;
    text-align: center;
}

.tbl-header-cell.nav table {
    float:right;
}
#body {
min-height: 600px;
margin: 0;
padding: 0;
}
#sidebar {
display: inline;
float: right;
overflow: visible;
width: 33.33%;
margin: 0 -200px 0 0;
}

#left-sidebar {
display: inline;
float: left;
margin: 0 0 0 -200px;
overflow: hidden;
width: 200px;
}
#main {
float: left;
}
#main-sb-left {
float: left;
width: 100%;
}
.tbl-body {
display: table;
margin: 0;
width: 100%;
}

.tbl-main {
vertical-align: top;
}

.tbl-sidebar {
padding: 0 0 0 10px;
vertical-align: top;
  width: 33%;
}

#three-col {
padding: 0 0 0 200px;
overflow: hidden;
}

#two-col-sb-left {
padding: 0 0 0 200px;
overflow: hidden;
}

#two-col {
margin: 0;
overflow: hidden;
padding: 0 200px 0 0;
}

#two-col-tbl {
margin: 0;
overflow: hidden;
}

#main {
float: left;
}

#main-sb-left {
float: left;
width: 100%;
}

#login {
height: 1%;
overflow: hidden;
min-height: 400px;
}

#login-main {
width: 640px;
margin: 100px auto 0 auto;
}
#footer {
  width: 100%;
}

#footer .content {
min-height: 20px;
}
#footer .content a {
text-decoration: none;
}
#footer .content a:hover {
color: #000;
text-decoration: underline;
}	
#footer .app-version{
  text-align:center;
}
#customize {
float: left;
}
#customize a {
}

/* -------------------- Tabs -------------------- */

ul#tabs {
clear: both;
padding: 0;
margin: 0 0 10px 0;
overflow: hidden;
}
ul#tabs li, div.sBTabs ul li {
display: block;
float: left;
font-size: 1.2em;
  padding: 10px;
margin: 1px;
border-left: solid 1px;
}
ul#tabs li a.tab_link {
display: block;
text-decoration: none;
}
ul#tabs li a:hover {
}
ul#tabs li a:active {
text-shadow: 0px 1px 0 #EEE;
}
ul#tabs li.current a, ul#tabs li.current a:hover, ul#tabs li.current a:active {
}

/* Close Tab Bar */
ul#tabs li.last {
float: right;
}
ul#tabs li.last span {
display: block;
width: 8px;
float: left;
}


/* First Tab */
ul#tabs li.first-non-current {
border: none;
}
ul#tabs li.first-non-current a.tab_link, ul#tabs li.first-current a.tab_link {
}
ul#tabs li.first-current {
  border: none;
}	
ul#tabs li.first-current a.tab_link {
}
ul#tabs li.first-non-current a.tab_link span, ul#tabs li.first-current a.tab_link span {
display: block;
float: left;
}
ul#tabs li.first-non-current a.tab_link:hover span {
}
ul#tabs li.first-non-current a.tab_link:active span {
}
ul#tabs li.first-current a.tab_link {
}
ul#tabs li.first-current a.tab_link span, ul#tabs li.first-current a.tab_link:hover span, ul#tabs li.first-current a.tab_link:active span {
}


/* -------------------- Parent Tabs -------------------- */

#parent-tabs {
display: block;
float: right;
}

#parent-tabs .tab-holder {
margin: 0;
}

#parent-tabs .current, #parent-tabs .noncurrent {
display: block;
float: left;
padding: 4px 8px;
margin:0px 2px;
font-size:1.2em;
border-left: 1px solid;
}
#parent-tabs .tab-holder div.current:first-child,
#parent-tabs .tab-holder div.noncurrent:first-child {
  border:none;
}
#parent-tabs .tab-holder div.current:last-child,
#parent-tabs .tab-holder div.noncurrent:last-child {
}
#parent-tabs .current a, #parent-tabs .noncurrent a,
#parent-tabs .current, #parent-tabs .noncurrent {
text-decoration: none;
}

#parent-tabs .current {
}
#parent-tabs .current {
}

#parent-tabs .noncurrent a {
}

#parent-tabs .noncurrent:active {
}
/* -------------------- Messages -------------------- */

div#messages {
}

#success-message {
margin: 10px auto;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
width: 560px;
padding: 10px;
font-size:1.3em;
}

#notification-message {
margin: 10px auto;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
width: 560px;
padding: 10px;
font-size:1.3em;

}
ul.htmldbUlErr {
font-weight: normal;
padding: 5px 0 0 10px;
margin: 0 0 0 10px;
font-size:1.3em;
}
ul.htmldbUlErr li {
}

.close-control{
float:right;
margin:-5px -5px 10px 10px;
}
.button {padding:5px 10px 5px 10px;}

/*Demo plugin*/
.plugin-header{
  padding-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
}

.demo-help {
    display: none;
    padding: 5px;
}
.attribute_help{
  padding-right: 20px
}

/* -------------------- Wizard Progress List -------------------- */

.wizard-progress-list {
    clear: both;
    margin-right: 10px;
    width: 190px;
}
.rc-content-main .wizard-progress-list {
    width: 100%;
    margin-right: 0;
    }
.wizard-progress-list ul {
    list-style: none;
    margin: 0;
    }
    
.wizard-progress-list li {

}

.wizard-progress-list li.current,
.wizard-progress-list li.first-current,
.wizard-progress-list li.last-current,
.wizard-progress-list li.non-current,
.wizard-progress-list li.first-non-current,
.wizard-progress-list li.last-non-current {
    text-decoration: none;
    display: block;
    color: #333;
    text-align: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 4px;
    margin: 0 0 5px 0;
}

.wizard-progress-list li.progress-indicator {
    background: url(/i/themes/theme_21/images/sWizardDownArrow.png) 50% 2px no-repeat;
    }
    
/* Horizontal Progress List */
div.sHorizontalProgressList {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    }
                
div.sHorizontalProgressList ul {
    margin: 0 0 10px 0;
    height: 50px;
    padding: 0;
    clear: left;
    float: left;
    position: relative;
    left: 50%;
    }
    div.sHorizontalProgressList ul li {
        float: left;
        display: block;
        position: relative;
        right: 50%;
        background: url(/i/themes/theme_21/images/sHorizontalProgress.png) 0 -150px no-repeat;
        }
        div.sHorizontalProgressList ul li span {
            display: block;
            float: left;
            padding: 10px 5px 27px 5px;
            font: normal 13px/13px Arial, sans-serif;
            color: #333;
            background-image: url(/i/themes/theme_21/images/sHorizontalProgress.png);
            background-repeat: no-repeat;
            white-space: nowrap;
            text-align: center;
            min-width: 80px;
            }
div.sHorizontalProgressList ul li.current span,
div.sHorizontalProgressList ul li.first-current span,
div.sHorizontalProgressList ul li.last-current span {
    color: #000;
    font-weight: bold;
    background-position: 50% -50px;
    }
div.sHorizontalProgressList ul li.non-current span,
div.sHorizontalProgressList ul li.first-non-current span,
div.sHorizontalProgressList ul li.last-non-current span {
    background-position: 50% 0;
    }

div.sHorizontalProgressList ul li.last-non-current,
div.sHorizontalProgressList ul li.last-current {
    background: url(/i/themes/theme_21/images/sHorizontalProgress.png) 50% -200px no-repeat;
    }
    
div.sHorizontalProgressList ul li.first-non-current,
div.sHorizontalProgressList ul li.first-current {
    background: url(/i/themes/theme_21/images/sHorizontalProgress.png) 50% -100px no-repeat;
    }
/*Wizard progress vertical*/
div.uVerticalProgressList{
  margin:-3px 0 -3px -7px
}
div.uVerticalProgressList ul{
  list-style:none
}
div.uVerticalProgressList ul li{
  display:block;
  height:30px;
  overflow:hidden;
  position:relative
}
div.uVerticalProgressList ul li img{
  display:block;
  position:absolute;
  left:0;
  top:0;
  background-image:url(/i/themes/theme_23/images/theme_23.png);
  background-repeat:no-repeat;
  background-position:-120px -490px;
  width:30px;
  height:30px;
  margin:0;
  padding:0;
}
div.uVerticalProgressList ul li.first-current img{
  background-position:0 -490px
}
div.uVerticalProgressList ul li.current img{
  background-position:-30px -490px
}
div.uVerticalProgressList ul li.last-current img{
  background-position:-60px -490px
}
div.uVerticalProgressList ul li.first-non-current img{
  background-position:-90px -490px
}
div.uVerticalProgressList ul li.non-current img{
  background-position:-120px -490px
}
div.uVerticalProgressList ul li.last-non-current img{
  background-position:-150px -490px
}
div.uVerticalProgressList ul li span{
  display:block;
  padding:0 0 0 30px;
  font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-transition:color,0.2s;
  -moz-transition:color,0.2s;
  transition:color,0.2s;
  color:#555;
  white-space:nowrap
}
div.uVerticalProgressList ul li.first-current span,
div.uVerticalProgressList ul li.current span,
div.uVerticalProgressList ul li.last-current span{
  font-weight:bold;color:#333
}
    
/*
.labelcolumn:hover .demo-help {
display: block;
float: right;
left: 100%;
padding: 5px;
white-space: pre-wrap;
}
.labelcolumn {
width:150px;
display:inline-block;
}
.HELP{
margin-left:10px;
}*/
